@use 'variables' as *;

.btn-large{
    padding: 20px 30px ;
}

.btn-short{
    padding: 1.3rem 4.5rem;
    font-weight: 450;
}

.btn{
    font-family: $font-family-body;
    font-size: 1.4rem;
    color: white;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    box-shadow: $boxshadowdefault;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}