@use 'variables' as *;

button{
    text-decoration: none;
    font-family: $font-family-body;
    outline: none;
    border: none;
}

.btn-large{
    padding: 18px 30px ;
}

.btn-short{
    padding: 1.1rem 4rem;
    font-weight: $fw-medium;
}

.btn{
    color: white;
    font-size: $fs-medium;
    background: linear-gradient(175deg, $color-secondary -30%, $color-primary 100%);
    box-shadow: $boxshadowdefault;
    border-radius: 2.5rem;
    cursor: pointer;

    &:hover{
        background: linear-gradient(
            170deg,
            lighten($color-secondary, 6) -30%,
            lighten($color-primary, 5) 100%);
    }
}


//========================Heart & Animation========================//


.heart-toggle {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  bottom: 0.5rem;
}

.heart-toggle input{
  display: none;
}

.heart {
  display: block;
  height: 90%;
  background-image: url("../assets/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}


.heart::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-image: url("../assets/heart_fill.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: height 0.4s ease;
}

.heart-toggle input:checked + .heart::after {
  height: 100%;
}



//===============================================================//