@use 'variables' as *;

.btn-large{
    padding: 20px 30px ;
}

.btn-short{
    padding: 20px 15px;  //A REPRENDRE
    margin: 2rem;
}

.btn{
    font-family: $font-family-body;
    font-size: 1.4rem;
    color: white;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    box-shadow: $boxshadowdefault;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
}