@use 'variables' as *;



footer{
    background-color: #353535;
    .logo{
        margin: -0.2rem;
        padding-top:2rem;
        filter: invert(1);
        transform: scale(0.7);
    }

    nav{
        padding-bottom: 2rem;

        a p{
            font-weight: $fw-regular;
        }
    }

    a{
        text-decoration: none;
        color: white;
        display: flex;
        margin: 1rem 0 0 1.5rem;

        img{
            padding-left: 0.5rem;
            padding-right: 1rem;
            transform: scale(1.5);
        }
    }
}