@use 'variables' as *;




.hero{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;

        &__menu{
            width: 100%;
            height: 100%;
            transform: scale(1.1);
            object-fit: cover;
            display: block;
        }

        &__menu2{
            max-height: 250px;
            width: 100%;
            object-fit: cover;
            display: block;
        }
}

.menu{
    position: relative;
    z-index: 2;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: whitesmoke;
    margin-top: -60px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;

        .btn-position{
            text-align: center;
            padding: 3rem 0 1rem 0;
        }

        &__dishe{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            right: 0.5rem;
            
            h1{
                margin: 0.5rem;
            }

            .heart{
                top: 1rem;
                right: 1rem;
            }
        }

        &__card{
            padding-top: 1rem;
            &__title{
                border-bottom: solid 3px $color-tertiary;
                width: 40px;
                
                    h4{
                        padding: 1rem 0 0.3rem 0;
                        font-size: 1rem;
                        font-weight: 300;
                    }
                }
                
            &__box{
            
                &__container{
                    display: flex;
                    justify-content: space-between;
                    overflow: hidden;
                    background-color: white;
                    border-radius: 1rem;
                    margin-top: 1rem;
                    gap: 1rem;
                    box-shadow: $boxshadowdefault;

                    &__content{
                        flex: 1 1 auto;
                        min-width: 0;
                        padding: 1rem;
                        align-content: center;

                            h3{
                                font-size: 18px;
                                font-weight: 500;
                                margin: 0;
                                padding-bottom: 0.1rem;
                            }
                        
                            p{
                                font-weight: 250;
                                font-size: 15px;
                                margin: 0;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                    &__right {
                        display: flex;
                        align-items:flex-end;


                        .price {
                            white-space: nowrap;
                            font-weight: bold;
                            color: #353535;
                            margin-bottom: 0.5rem;
                            position: relative;
                            left: 2.9rem ;
                            bottom: 0.5rem;
                        }

                        &__checkmark{
                            background-color: $color-tertiary;
                        }

                    .checkmark{
                        background: $color-tertiary;
                        padding: 1.8rem 1.25rem;
                        border-top-right-radius: 1rem ;
                        border-bottom-right-radius: 1rem ;
                        transform: translateX(100%);            //solution anim
                        transition: transform 0.3s ease-in-out;
                    }

                    .fa-solid{
                        color: $color-tertiary;
                        font-size: 1rem;
                    }

                    i::before{
                        border-radius: 1rem;
                        background-color: white;
                        padding: 0.2rem;
                        }
                }

            &:hover &__right {
                transform: translateX(-60px);           //Solution anim
                transition: transform 0.5s ease-in-out ;
            }

            &:hover &__checkmark{                       //Solution anim
                transform: translateX(0);
            }

                @keyframes fadeInLeft {
                    from {
                        transform: translateX(-85px);
                        opacity: 0;
                    }
                    to {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }

                .animated-step {
                    opacity: 0;
                    animation: fadeInLeft 0.2s ease-out forwards;
                }

                @for $i from 1 through 15 {
                    .step-#{$i} {
                        animation-delay: #{($i - 1) * 0.3}s;
                    }
                }
            }
        }
    }
}
