$txt-header:normal;
$txt-menu:"shrikhand";
$main-txt:"roboto";
$second-txt:"shrikhand";
$main-color: #9356DC;
$sec-color:#FF79DA;
$ter-color:#99E2D0;
$boxshadowdefault: 0px 8px 24px rgba(0, 0, 0, 0.2);
$alpha: 0.4;
$alphasec:0.1;