//=== Polices ===
$font-weight-header:normal;
$font-family-title:"shrikhand";
$font-family-body:"roboto";
$font-family-secondary:"shrikhand";

//=== Colors ===
$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$boxshadowdefault: 0px 5px 10px rgba(black, 0.15);

//=== Opacités ===
$opacity-hard:0.8;
$opacity-medium: 0.4;
$opacity-light:0.1;