@use 'base' as *;
@use 'variables' as *;

//========================= General =================================//

*{
    margin: 0;
}


.fa-mobile-screen-button,
.fa-list-ul{
    font-size: 20px;
    color: grey;
}

.fa-store{
    font-size: 18px;
    color:$color-primary;
}


body{
    font-family: $font-family-body;
    font-style: normal;
    font-size: $fs-base;
    font-weight: $fw-medium;
    min-width: 360px;
}

.main-container{
    box-sizing: border-box;
}

section{
    padding-top: 2rem;
}

h1,h2,h3,h4,p,
span{
    cursor: default;
}


h1{
    text-align: center;
    margin: 1rem;
    font-family: $font-family-secondary;
    font-weight: $font-weight-header;
}

h2{
    margin-left: 1.3rem;
    padding-bottom: 1rem;
}

p{
    font-weight: $fw-semibold;
}

a p{
    cursor: pointer;
}

//==========================Animation Loader================================//

.loader{
    background-color: lighten($color-primary, 15);
    width: 100%;
    height: 100%;
    position: fixed;
    animation: hide 1s forwards;
    z-index: 9;
}


@keyframes hide {
    0% {
        opacity: 1;
        visibility: visible;
        z-index: 9;
    }
    
    99% {
        opacity: 1;
        visibility: visible;
        z-index: 9;
    }
    
    100% {
        opacity: 1;
        visibility: hidden;
        z-index: -1;
    }
}

.spiner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: calc(50% - 50px);
    border-radius: 50%;
    background: radial-gradient(circle closest-side at 50% 40%,lighten($color-primary, 15) 94%, whitesmoke);
    transform-origin: 50% 40%;
    animation: spin 0.8s infinite linear;
}

@keyframes spin {
  100% {transform: rotate(1turn)}
}

//========================= Search Bar =================================//

.frame{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(darken(whitesmoke, 20), $opacity-medium);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;

        &__searchbar{
            display: flex;
            justify-content: center;

            &__text{
                text-align: center;

                input[type="text"] {
                    text-align: center;
                    border: none;
                    outline: none;
                    background-color: transparent;

                    &:focus{
                        opacity: 0.4;
                    }

                    &::placeholder{
                        color: black;
                        font-size: $fs-base;
                        opacity: 1;
                        font-weight: $fw-medium;

                    }
                }
            }                
        }
    }

@media (min-width:768px){
    .frame{
        box-shadow: unset;
    }
}


//========================= Section presentation =================================//

.presentation {
    background-color:rgba(whitesmoke, $opacity-medium);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 3rem 0;
    position: relative;
    z-index: 1;
        
        h2{
            margin: 1rem;
            text-align: center;
        }

        span{
            font-size: $fs-medium;
            font-weight: $fw-light;
            text-align: center;
            margin-bottom: 2rem;
        }
}

@media (min-width:768px){
    .presentation{
        h2{
            font-size: 2.5rem;
        }
    }
}


//========================= Functioning =================================//

.functioning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem;
    padding-bottom: 2.5rem;


    h2{
        margin: 0;
    }

        &__card{
            display: flex;
            flex-direction: column;

            &__container{
                display: flex;
                justify-content:center;
                align-items: center;

                &__number{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    background-color: $color-primary;
                    color: whitesmoke;
                    border-radius: 50%;
                    cursor: default;
                    height: 1.8rem;
                    width: 1.8rem;
                    z-index: 5;
                }

                &__content{
                    display: flex;
                    flex-direction: row;
                    background-color:rgba(whitesmoke, $opacity-hard);
                    box-shadow: $boxshadowdefault;
                    width: 80%;
                    border-radius: 1.5rem;
                    margin:1rem 1rem 1rem -0.8rem;
                    padding: 2rem 2rem;
                    gap: 1.5rem;
                }
        }
    }
}

@media (min-width:768px){
    .functioning{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        max-width: 1080px;
        margin-left: 0;

        h2{
            margin-left:6.5%;
        }
    
        &__card{
            flex-direction: row;
            gap: 0.5rem;
            transform: scale(0.9);
            margin-left: 0.5rem;

                &__container{
                    width: 35%;

                &__content{
                    padding: 1.5rem 0.5rem;
                    gap: 1rem;
                    justify-content:flex-start;

                    i{
                        margin-left:1rem;
                    }

                    p{
                        display: flex;
                        align-items: end;
                        white-space: nowrap;
                        margin-right: 1rem;
                        font-size: $fs-small;
                    }
                }
            }
        }
    }
}


//========================= Section Restaurant =================================//


.restaurant{
    background-color:whitesmoke;
    padding-top: 4rem;

    &__list{

        &__card{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0 5rem 0;
        

            &__menu{
                display: flex;
                flex-direction: column;
                border-radius: 1rem;
                background-color: white;
                width: 90%;
                height: 250px;
                margin-bottom: 1rem;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

                &__container{
                    position: relative;
                    overflow: hidden;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;

                    &__photo {
                        display: block;
                        width: 100%;
                        height: 180px;
                        object-fit: cover;
                    }

                    &__photo2{
                        width: 100%;
                        height: 180px;
                        object-fit: cover;
                        object-position: center 64%;
                    }

                    &__label{
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        background-color: $color-tertiary;
                        box-shadow: $boxshadowdefault;
                        border-radius: 0.1rem;
                        padding: 0.5rem 1rem;
                        z-index: 1;
            
                            p{
                            color: #008766;
                            margin: 0;
                            }
                        }
                    }
            
                &__content{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0.1rem 0 0.1rem 0;

                    &__heart-toggle, .heart{
                        top: 1.8rem;
                        right: 1.5rem;
                    }

                    h4{
                        padding: 0.5em 0 0.1rem 1rem;
                        font-size: $fs-medium;
                        font-weight: $fw-bold;
                    }

                    p{
                        font-size: 1.063rem;
                        padding: 0 0 1rem 1rem;
                        font-weight:$fw-light;
                    }
                } 
            }
        }
    }
}
              


@media (min-width:768px){

    .restaurant{
        padding-top: 2rem;
        &__list{

            h2{
                margin-left:6.5%;
            }

            &__card{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content:space-evenly;
                padding-top: 0.5rem;
                gap: 1rem;
        

                &__menu{
                    display: flex;
                    height: 225px;
                    max-width: 40%;
                    margin-bottom: 2rem;
                    &__container{
                        
                        &__photo {
                            display: block;
                            width: 100%;
                            height: 180px;
                            object-fit: cover;
                            object-position: center 80%;
                        }

                        &__photo2{
                            height: 200px;
                            object-position: center 64%;
                        }

                        &__content{

                            p{
                                padding-bottom: 0.5rem;
                            }
                        }

                        &__label{
                            top: 0.5rem;
                        }
                    }
                }
            }  
        }
    }
}

@media (min-width: 768px) {

  .functioning{
    max-width: 1080px; 
    margin: 0 auto;
  }

  .restaurant {
    &__list{
        max-width: 1080px; 
        margin: 0 auto;   
    }
  }
}