.appBar__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
.appBar__name__goback {
  position: absolute;
  left: 20px;
  top: 23px;
  height: 35px;
}
.appBar__name__logo {
  position: relative;
  padding: 1.5rem;
}

.hero {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.hero img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.menu {
  position: relative;
  z-index: 2;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  background-color: whitesmoke;
  margin-top: -60px;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}
.menu .btn-position {
  text-align: center;
  padding: 3rem 0 1rem 0;
}
.menu__dishe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__dishe h1 {
  font-size: 2.2rem;
  margin: 0;
}
.menu__dishe__heart {
  position: absolute;
  height: 30px;
  left: 24rem;
}
.menu__card {
  padding-top: 1rem;
}
.menu__card__title {
  border-bottom: solid 3px #99E2D0;
  width: 40px;
}
.menu__card__title h4 {
  padding: 1rem 0 0.3rem 0;
  font-size: 1rem;
  font-weight: 300;
}
.menu__card__box__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: none;
  border-radius: 1rem;
  background-color: white;
  margin-top: 1rem;
  padding: 0.8rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
.menu__card__box__container span {
  display: flex;
  font-weight: 800;
  color: #353535;
  align-items: flex-end;
}
.menu__card__box__container__content h3 {
  font-size: 18px;
  font-weight: 500;
}
.menu__card__box__container__content p {
  font-weight: 250;
  font-size: 15.04px;
}

.btn-large {
  padding: 20px 30px;
}

.btn-short {
  padding: 1.3rem 4.5rem;
  font-weight: 450;
}

.btn {
  font-family: "roboto";
  font-size: 1.4rem;
  color: white;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
}

footer {
  background-color: #353535;
}
footer .logo {
  margin: -0.2rem;
  padding-top: 2rem;
  filter: invert(1);
  transform: scale(0.7);
}
footer nav {
  padding-bottom: 2rem;
}
footer nav a p {
  font-weight: 400;
}
footer a {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 1rem 0 0 1.5rem;
}
footer a img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  transform: scale(1.5);
}

* {
  margin: 0;
}

.fa-mobile-screen-button,
.fa-list-ul {
  font-size: 25px;
  color: grey;
}

.fa-store {
  font-size: 25px;
  color: #9356DC;
}

body {
  font-family: "roboto";
  font-style: normal;
  font-weight: 450;
  min-width: 480px;
}

.main__container {
  box-sizing: border-box;
}

section {
  padding: 2rem 0 0 0;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-size: 2.25rem;
  font-family: "shrikhand";
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  margin-left: 1.5rem;
}

h4 {
  font-family: "roboto";
  font-weight: 250;
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
  font-weight: 500;
}

.bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(194, 194, 194, 0.4);
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 2;
}

.presentation {
  background-color: rgba(245, 245, 245, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 3rem 0;
  position: relative;
  z-index: 1;
}
.presentation h2 {
  margin-bottom: 1rem;
  text-align: center;
}
.presentation h4 {
  text-align: center;
  margin-bottom: 2rem;
}

.functioning {
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-left: 1.5rem;
}
.functioning h2 {
  margin: 0;
}
.functioning__card__container {
  background-color: rgba(245, 245, 245, 0.4);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  margin: 2rem 2rem 2rem 1rem;
  padding: 2rem 0 2rem 2.5rem;
}
.functioning__card__container__number {
  position: absolute;
  left: 2px;
  border-radius: 50%;
  background-color: #9356DC;
  height: 1.8rem;
  width: 1.8rem;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15.5px;
}
.functioning__card__container__content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.restaurant {
  background-color: whitesmoke;
  padding-top: 4rem;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 5rem 0;
}
.restaurant .restaurant__card__menu {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  background-color: white;
  width: 90%;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.restaurant .restaurant__card__menu__container {
  position: relative;
  display: block;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.restaurant .restaurant__card__menu__container__photo {
  display: block;
  width: 100%;
  height: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 100%;
     object-position: center 100%;
}
.restaurant .restaurant__card__menu__container .menu2 {
  -o-object-position: center 61%;
     object-position: center 61%;
}
.restaurant .restaurant__card__menu__container__label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  border-radius: 0.1rem;
  padding: 0.5rem 1rem;
  z-index: 1;
}
.restaurant .restaurant__card__menu__container__label p {
  font-size: 15px;
  color: #008766;
  margin: 0;
}
.restaurant .restaurant__card__menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
}
.restaurant .restaurant__card__menu__content__heart {
  padding-right: 2rem;
}
.restaurant .restaurant__card__menu__content h4 {
  padding: 0.5em 0 0.1rem 1rem;
  font-size: 1.125rem;
  font-weight: bold;
}
.restaurant .restaurant__card__menu__content p {
  font-size: 1.06rem;
  padding: 0 0 1rem 1rem;
  font-weight: 250;
}/*# sourceMappingURL=main.css.map */