@use 'base' as *;
@use 'variables' as *;

//========================= General =================================//

*{
    margin: 0;
}


.fa-mobile-screen-button,
.fa-list-ul{
    font-size: 20px;
    color: grey;
}

.fa-store{
    font-size: 18px;
    color:$color-primary;
}


body{
    font-family: $font-family-body;
    font-style: normal;
    font-weight: $fw-medium;
    min-width: 360px;
}


.main__container{
    box-sizing: border-box;
}

section{
    padding: 2rem 0 0 0;
}


h1{
    text-align: center;
    margin: 1rem;
    font-size: $fs-height-title;
    font-family: $font-family-secondary;
    font-weight: $font-weight-header;
    cursor: default;
}

h2{
    font-size: $fs-page-title;
    margin-left: 1.3rem;
    cursor: default;
}

h4{
    font-family: $font-family-body;
    font-weight: $fw-light;
    font-size: $fs-base;
    cursor: default;
}

p{
    font-size: $fs-base;
    font-weight: $fw-semibold;
    cursor: default;
}

//==========================Animation Loader================================//
.loader{
    background-color: lighten($color-primary, 15);
    width: 100%;
    height: 100%;
    position: fixed;
    animation: hide 1s forwards;
    z-index: 9;
}


@keyframes hide {
  0% {
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }
  99% {
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }
  100% {
    opacity: 1;
    visibility: hidden;
    z-index: -1;
  }
}

.spiner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  border-radius: 50%;
  background: radial-gradient(circle closest-side at 50% 40%,lighten($color-primary, 15) 94%, whitesmoke);
  transform-origin: 50% 40%;
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  100% {transform: rotate(1turn)}
}

//========================= Search Bar =================================//
.frame{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(darken(whitesmoke, 20), $opacity-medium);
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;

        &__searchbar{
            display: flex;
            justify-content: center;

            &__text{
                text-align: center;

                input[type="text"] {
                    text-align: center;
                    border: none;
                    outline: none;
                    background-color: transparent;

                    &:focus{
                        opacity: 0.4;
                    }

                    &::placeholder{
                        color: black;
                        font-family: $font-family-body;
                        font-size: $fs-base;
                        opacity: 1;
                        font-weight: $fw-medium;

                    }
                }
            }                
        }
    }

//========================= Section presentation =================================//

.presentation {
        background-color:rgba(whitesmoke, $opacity-medium);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 3rem 0;
        position: relative;
        z-index: 1;
        
        h2{
            margin-bottom: 1rem;
            text-align: center;
        }

        span{
            font-size: $fs-medium;
            font-family: $font-family-body;
            font-weight: $fw-light;
            text-align: center;
            margin-bottom: 2rem;
        }
}

//========================= Functioning =================================//

.functioning{
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 1.5rem;

    h2{
        margin: 0;
    }

        &__card{
            &__container{
                background-color:rgba(whitesmoke, $opacity-medium);
                display: flex;
                flex-direction: row;
                align-items: center;
                box-shadow: $boxshadowdefault;
                border-radius: 1rem;
                margin:1rem 1rem 1rem 0.5rem;
                padding: 1.5rem 0 1.5rem 3rem;
                
                &__number{
                    position: absolute;
                    left: -5px;
                    border-radius: 50%;
                    background-color: $color-primary;
                    height: 1.8rem;
                    width: 1.8rem;
                    color: whitesmoke;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $fs-base;
                }

                &__content{
                    display: flex;
                    flex-direction: row;
                    gap: 1.5rem;
                }
        }
    }

}


//========================= Section Restaurant =================================//


.restaurant{
    background-color:whitesmoke;
    padding-top: 4rem;
  
    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0 5rem 0;
        }

.restaurant__card__menu{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 1rem;
    background-color: white;
    width: 90%;
    height: 250px;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    &__container{
        position: relative;
        display: block;
        overflow: hidden;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        &__photo {
            display: block;
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center 70%;

        }

        &__label{
            position: absolute;
            top: 1rem;
            right: 1rem;
            background-color: $color-tertiary;
            box-shadow: $boxshadowdefault;
            border-radius: 0.1rem;
            padding: 0.5rem 1rem;
            z-index: 1;
            
            p{
                font-size: $fs-small;
                color: #008766;
                margin: 0;
            }
        }
    }

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.1rem 0 0.1rem 0;

            &__heart, .heart{
                top: 1rem;
                right: 1.5rem;
                }

        h4{
            padding: 0.5em 0 0.1rem 1rem;
            font-size: $fs-medium;
            font-weight: $fw-bold;
            }

        p{
            font-size: 1.063rem;
            padding: 0 0 1rem 1rem ;
            font-weight:$fw-light;
            }
        }           
    }               
}



