* {
  margin: 0;
}

.fa-mobile-screen-button,
.fa-list-ul {
  font-size: 25px;
  color: grey;
}

.fa-store {
  font-size: 25px;
  color: #9356DC;
}

body {
  font-family: "roboto";
  font-style: normal;
  font-weight: 450;
  max-width: 480px;
}

.main__container {
  width: 100%;
  box-sizing: border-box;
}

main {
  margin: 3rem 0 0 0;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-family: "shrikhand";
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  margin-left: 1.5rem;
}

h4 {
  font-family: "roboto";
  font-weight: 250;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

.btn-large {
  padding: 25px 30px;
}

.btn {
  font-family: "roboto";
  font-size: 1.4rem;
  color: white;
  background: linear-gradient(to bottom, #FF79DA -25%, #9356DC 100%);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2.5rem;
  cursor: pointer;
}

.appBar__name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.appBar__location {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(128, 128, 128, 0.25);
}

.presentation {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.presentation h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.presentation h4 {
  text-align: center;
  margin-bottom: 2rem;
}

.functioning {
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.functioning__card {
  background-color: rgba(128, 128, 128, 0.07);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  margin: 1rem;
  padding: 30px 5px 25px 50px;
}
.functioning__card__number {
  position: absolute;
  left: 1px;
  border-radius: 50%;
  background-color: #9356DC;
  height: 2rem;
  width: 2rem;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.functioning p {
  font-size: 1.125rem;
}

.restaurant {
  background-color: whitesmoke;
  padding-top: 4rem;
}
.restaurant__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 5rem 0;
}
.restaurant .restaurant__card__menu {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1rem;
  background-color: white;
  width: 90%;
  margin-bottom: 1.5rem;
}
.restaurant .restaurant__card__menu__photo {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}
.restaurant .restaurant__card__menu__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant .restaurant__card__menu__content__heart {
  padding-right: 1.5rem;
}
.restaurant .restaurant__card__menu__content h4 {
  padding: 0.5em 0 0.1rem 1rem;
  font-size: 1.125rem;
  font-weight: bold;
}
.restaurant .restaurant__card__menu__content p {
  font-size: 1.06rem;
  padding: 0 0 1rem 1rem;
  font-weight: 250;
}/*# sourceMappingURL=styles.css.map */